# Windows CI build via the Appveyor service

version: '{build}'

# branches to build
branches:
  except:
    - gh-pages

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# scripts that run after cloning repository
#install:
#  - Install rst2html for docs?

# Build matrix variables -
#   * environment
#   * platform
#   * configuration
environment:
  matrix:
    - COMPILER: "Visual Studio 12 Win64"
    #- COMPILER: "Visual Studio 14 Win64"

# build platform, i.e. x86, x64, Any CPU.
platform:
  - x64

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

before_build:
  - echo --------------------------------------------------------------------------------
  - echo Appveyor environment info:
  - echo COMPILER = %COMPILER%, CONFIGURATION = %CONFIGURATION%
  - cmake -h
  - rem --------------------------------------------------------------------------------
  - rem Build third party dependencies:
  - mkdir build_external
  - cd build_external
  # Disable warnings with /W0, since both external libs are rotten with
  # warnings on Visual Studio
  - cmake -G "%COMPILER%" ..\thirdparty\external
  - cmake --build . --config %CONFIGURATION%
  - cd ..

build_script:
  - echo --------------------------------------------------------------------------------
  - echo Build displaz:
  - mkdir build
  - cd build
  - cmake -G "%COMPILER%" -D CMAKE_PREFIX_PATH=C:\Qt\5.5\msvc2013_64 -DDISPLAZ_BUILD_NUMBER=%APPVEYOR_BUILD_NUMBER% ..
  - cmake --build . --config %CONFIGURATION%

after_build:
  - cmake --build . --config %CONFIGURATION% --target package
  # Hack: copy artifacts to avoid extra directories in deploy :(
  # See http://help.appveyor.com/discussions/questions/1244-path-inside-artifact-name-is-there-a-way-to-remove-it
  - cp displaz-*.exe ..

test_script:
  # TODO: Figure out why IPC lock test seems to be timing out (or just very
  # slow?), and re-enable it.
  - ctest --timeout 10 -C %CONFIGURATION%   -E InterProcessLock_test

artifacts:
  - path: displaz-*.exe
    name: displaz-installer


deploy:
  # Deploy CI builds of master to s3://displaz-data/builds/
  - provider: S3
    on:
      # FIXME: Change to master after testing.
      branch: appveyor-s3-deploy
    access_key_id:
      secure: y4QWdKCrKxq9JIQGjN87Gd/Pg4Vdmz+GaqoPlKxUuAY=
    secret_access_key:
      secure: uKUdBw0IvkIlc6sWpk/rwIQv1MmsexLLElD/Ir6bcXXetJUM0KoS5nQCaxSjQuV7
    bucket: displaz-data
    folder: builds/ci/
    set_public: true


notifications:
  # Email
  - provider: Email
    to: chris42f@gmail.com
    on_build_status_changed: true
